.center {
  margin: auto;
  text-align: center;
}

#grid-container {
  width: 960px;
  height: 960px;
  outline: 2px solid black;
  padding: 0px;
  margin: auto;
}

tr {
  margin: 50px;
}

td {
  /*border: 1px solid black;*/
}

.grid {
  opacity: 0.0;
}
